body {
	background-color: #1E2129;
}

body {

	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.top-container {
	background-color: #282b33;
	padding: 30px;
	text-align: center;
}

.top-container h1 {
	color: #38BBAF;
	font-weight: 700;
}

.header {
	background: #555;
	color: #f1f1f1;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 102px;
}

/* .ftco-section {
	z-index: 999;
} */

.ftco-section {
	margin: 0 0;
	padding: 0 0;
}

.log {
	float: right;
	right: 0;
}

.content .hot,
.content .list-flix {
	margin-top: 50px;
	padding: 0px 150px;
}

.content h1 {
	color: white;
	font-size: 25px;
	opacity: 0.8;
	margin-bottom: 20px;
}

.content .hot h1 span {
	margin-top: -10px;
}

.content h1::before {
	color: aqua;
	margin-right: 7px;
	font-size: 25px;
	font-weight: 900;
	content: "l";
}

.row {
	margin: 0 0;
	padding: 0 0;
	display: flex;
	justify-content: start;
}

.row .item {
	width: 250px;
	cursor: pointer;
	margin: 0px 15px;
	margin-bottom: 10px;
}

.item img {
	width: 100%;
	height: 141px;
}

.item .name p {
	letter-spacing: 1.2px;
	font-size: 15px;
	margin-top: 8px;
	color: white;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.more {
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-collapse {
	margin-bottom: 20px;
}

.collapse .row {
	margin-bottom: 70px;
}

.content .list-flix h1 {
	color: white;
	font-size: 25px;
	opacity: 0.8;
	margin-bottom: 20px;
}

.content .list-flix {
	margin-top: 50px;
}

.content .list-flix h1::before {
	color: aqua;
	margin-right: 7px;
	font-size: 25px;
	font-weight: 900;
	content: "l";
}

.list-flix .list-video .row {
	margin-bottom: 70px;
}

.top-container h1 {
	color: #38BBAF;
	font-weight: 700;
}

.views p {
	margin-bottom: 0px;
}

.status {
	display: flex;
}

.status {
	margin-bottom: 30px;
}

.status .dislike {
	margin-left: 20px;
}

.item .name p {
	margin: 0 0;
	margin-top: 10px;
}

/* Mobile */
@media (max-width: 46.1875em) {
	.status p {
		font-size: 11px;
	}

	.item .name p {
		font-size: 15px;
	}

}