h6 {
	margin-top: 40px;
	font-size: 17px;

	color: #8e95a5;
	font-weight: 700;
	font-family: Montserrat;
	line-height: 24px;
}

.descript-title {
	font-size: 15px;
	margin-bottom: 10px;
	font-family: Montserrat;
}

.social-links,
.flex-center {
	display: flex;
	align-items: center;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	background: #2F3441;
	margin: 5px;
	transition: 0.3s;
	justify-content: center;
}

.social-btn svg {
	height: 24px;
	width: 24px;
}

.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 0.3s;
	text-align: center;
	margin-left: 5px;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}


.social-btn:hover span {
	padding: 2px;
	width: 100px;
}

#twitter svg {
	fill: #1da1f2;
}

#linkedin svg {
	fill: #0e76a8;
}

#facebook svg {
	fill: #0640ff;
}

#github {
	fill: #6000c7;
}

.left .center {
	margin-bottom: 0px;
	margin-top: 10px;
}

.left {
	margin-top: 40px;
}

i {
	font-size: 27px;
	margin-right: 5px;
	color: #38BBAF;
}

.c h6 {
	margin: 0 0;
}

.c-content {
	display: flex;
	align-items: center;
}