.content {
	padding: 0px 150px;
	margin-top: 50px;
}

.left {
	margin-bottom: 50px;
}

input {
	opacity: 0.8;
	background-color: #dbdbdb;
	border-radius: 7px;
	outline: none;
	padding: 10px 10px;
	width: 100%;
	height: 45px;
	box-shadow: none;
}

textarea {
	opacity: 0.8;
	width: 100%;
	border-radius: 7px;
	outline: none;
	padding: 10px 10px;
	background-color: #dbdbdb;
}

.l,
.r {
	width: 48%;
}

.c {
	width: 100%;
}

.center {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

#message {
	height: 130px;
}

.send {
	height: 35px;
	font-family: inherit;
	font-size: 20px;
	background: #06D3D4;
	color: #404757;
	padding: 0.7em 1em;
	padding-left: 0.9em;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 16px;
	overflow: hidden;
	transition: all 0.2s;
	outline: none;
	border: none;
}

.send span {
	display: block;
	margin-left: 0.3em;
	transition: all 0.3s ease-in-out;
}

.send svg {
	display: block;
	transform-origin: center center;
	transition: transform 0.3s ease-in-out;
}

.send:hover .svg-wrapper {
	animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
	transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
	transform: translateX(5em);
}

.send:active {
	transform: scale(0.95);
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}

	to {
		transform: translateY(-0.1em);
	}
}

.right {
	padding-left: 50px;
}

iframe {
	opacity: 0.8;
	width: 600px;
	height: 395px;
	border-radius: 10px;
}

/* PC */
@media (min-width: 64em) {
	.right h1 {
		display: none;
	}

	iframe {
		margin-top: 70px;
		width: 110%;
	}
}

/* Mobile */
@media (max-width: 46.1875em) {
	.content {
		padding: 20px 20px;
	}

	.right h1 {
		display: block;
	}

	iframe {
		width: 100%;
	}

	.right {
		padding-left: 15px;
	}
}