.item img {
	width: 100%;
}

.row .item {
	width: 300px;
	margin: 0px 30px;
}

.row {
	display: flex;
}

/* Mobile */
@media (max-width: 46.1875em) {
	.content {
		margin-left: 20px;
	}

	.item .name {
		width: 400px;
	}

	.item img {
		width: 400px;
		height: auto;
	}

	.row .item {
		width: 500px;
		margin-bottom: 40px;
	}

	.hot h1 {
		margin-left: 30px;
		margin-bottom: 30px;
	}
}

/* PC */
@media (min-width: 64em) {
	.item .name {
		width: 100%;
	}

	.hot h1 {
		margin-left: 26px;
		margin-bottom: 40px;
	}
}

/* Mobile */
@media (max-width: 46.1875em) {

	.status p,
	.views p {
		font-size: 15px;
	}

	.item .name p {
		font-size: 19px;
	}
}