footer {
	margin-top: 80px;
	margin-bottom: 50px;
}

footer .mid p {
	font-size: 12px;
	text-align: center;
	font-family: Montserrat;
}

footer .top {
	margin-bottom: 30px;
}

footer .top ul li {
	list-style-type: none;

}

footer .top ul {
	display: flex;
	justify-content: space-between;
}

footer .top ul li a {
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: Montserrat;
}

footer .top ul li a:hover {
	color: #38BBAF;
}

footer .bot i {
	font-size: 14px;
	color: rgba(0, 255, 255, 0.415);
}

footer .bot span {
	font-size: 14px;
	margin-left: -2px;
	color: rgba(0, 255, 255, 0.415);
	letter-spacing: 1px;
}

footer .bot {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* PC */
@media (min-width: 64em) {
	footer {
		margin-top: 80px;
		padding: 0px 200px;
		margin-bottom: 50px;
	}

	footer .mid p {
		font-size: 12px;
		text-align: center;
		font-family: Montserrat;
	}

	footer .top {
		padding: 0px 150px;
		margin-bottom: 30px;
	}

	footer .top ul li {
		list-style-type: none;

	}

	footer .top ul {
		display: flex;
		justify-content: space-between;
	}

	footer .top ul li a {
		text-decoration: none;
		font-size: 15px;
		color: white;
		font-family: Montserrat;

	}



	footer .bot {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* Mobile */
@media (max-width: 46.1875em) {
	footer {
		padding: 0px 20px;
	}

	ul {
		padding: 0 0;
	}
}