<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/button/btn.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="css/footer.css">
<script src="cli/jquery.min.js"></script>
<script src="cli/angular.min.js"></script>
<script src="cli/angular-route.js"></script>
<script src="routes/index.js"></script>
<style>
	/* Mobile */
	@media (max-width: 46.1875em) {
		.content {
			padding: 0px;
		}

		.row .item {
			width: 230px;
			margin: 0 5px;
			padding: 0 0;
		}

		.item img {
			width: 100%;
			height: auto;
		}

		.item .name {
			width: 100%;
		}
	}
</style>




<div class="ctrl">
	<div class="top-container">
		<h1>Rainbow Flix</h1>
		<p>Chúng tôi yêu phim, như yêu vợ bạn!</p>
	</div>

	<div style="z-index: 999;" class="header" id="myHeader">
		<section class="ftco-section">
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
				<div class="container">
					<a class="navbar-brand" style="width: 50px;" href="#main"><img style="width: 100%;"
							src="images/unicorn.png" alt="" srcset=""></a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
						aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="fa fa-bars"></span> Menu
					</button>
					<div class="collapse navbar-collapse" id="ftco-nav">
						<ul class="navbar-nav m-auto">
							<li class="nav-item active"><a href="#main" class="nav-link">Trang chủ</a></li>
							<!-- <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">Page</a>
									<div class="dropdown-menu" aria-labelledby="dropdown04">
										<a class="dropdown-item" href="">Page 1</a>
										<a class="dropdown-item" href="">Page 2</a>
										<a class="dropdown-item" href="">Page 3</a>
										<a class="dropdown-item" href="">Page 4</a>
									</div>
								</li> -->
							<li class="nav-item"><a href="#list" class="nav-link">Phim hay</a></li>

							<li class="nav-item"><a href="#qna" class="nav-link">Hỏi đáp</a></li>
							<li class="nav-item"><a href="#contact" class="nav-link">Liên hệ</a></li>
							<li class="nav-item"><a href="#about" class="nav-link">Về chúng tôi</a></li>
						</ul>

						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false" ng-if="logined.length > 0">Chào {{logined}}</a>
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false" ng-hide="logined.length > 0">Tài khoản</a>
								<div class="dropdown-menu" aria-labelledby="dropdown04">
									<a class="dropdown-item" href="#login" ng-hide="logined.length > 0">Đăng nhập</a>
									<a class="dropdown-item" href="#register" ng-hide="logined.length > 0">Đăng ký</a>
									<a onclick="logout()" href="#logout" class="dropdown-item" ng-if="logined.length > 0">Đăng
										xuất</a>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</nav>
			<!-- END nav -->
		</section>
	</div>

	<div class="content">

		<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
						aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images/carousel/img1.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="images/carousel/img2.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="images/carousel/img3.jpg" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div> -->

		<div class="hot">
			<h1 style="z-index: -999;">Được xem nhiều nhất</h1>
			<div class="list-video">
				<div class="row">
					<a href="#videoDetails/{{item.id}}" class="item" ng-repeat="item in top">
						<!-- <p style="display: none;" id="videoId">{{item.id}}</p> -->
						<!-- href="/video/{{item.id}}" -->
						<img src="images/thumnail/{{item.poster}}" alt="">
						<div class="name">
							<p>{{item.title}}</p>
						</div>
						<div class="views">
							<p><i class='bx bx-show-alt'></i> {{item.views}} lượt xem</p>
						</div>
						<div class="status">
							<p class="like">
								<i class='bx bxs-like'></i> {{item.likes}}
							</p>
							<p class="dislike">
								<i class='bx bxs-dislike'></i> {{item.shares}}
							</p>
						</div>
					</a>

				</div>

				<div class="more">
					<button style="border: none !important; outline: none;" class="btn-collapse" data-toggle="collapse"
						data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						<p>Thêm</p>
						<svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
						</svg>
					</button>
					<div class="collapse" id="collapseExample">
						<div class="row">
							<div class="item">
								<img src="images/thumnail/sky-tour.jpg" alt="">
								<div class="name">
									<p>Sky Tour - Sơn Tùng MTP</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/my-hero-academia.jpg" alt="">
								<div class="name">
									<p>My Hero Accademia - Học viện anh hùng</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/dr-stone.jpg" alt="">
								<div class="name">
									<p>Dr Stone - Tiến sĩ đá</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/nang-dau-hallowee.jpg" alt="">
								<div class="name">
									<p>Nàng dâu halloween - Conan thám tử lừng danh</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>


						</div>

						<div class="row">
							<div class="item">
								<img src="images/thumnail/nang-dau-hallowee.jpg" alt="">
								<div class="name">
									<p>Nàng dâu halloween - Conan thám tử lừng danh</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/conan-kid.jpg" alt="">
								<div class="name">
									<p>Sherlock Holmes tái sinh - Conan thám tử lừng danh</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/captain-america-civil-war.jpg" alt="">
								<div class="name">
									<p>Captain America Civil War full 4K</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/spiderman-no-way-home.jpg" alt="">
								<div class="name">
									<p>Spider-Man No Way Home - Full 4K</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>

							<div class="item">
								<img src="images/thumnail/buku-no-pico.jpg" alt="">
								<div class="name">
									<p>Boku no Piko | My Pico | ぼ く の</p>
								</div>
								<div class="views">
									<p><i class='bx bx-show-alt'></i> 345.678.677 lượt xem</p>
								</div>
								<div class="status">
									<p class="like">
										<i class='bx bxs-like'></i> 245
									</p>
									<p class="dislike">
										<i class='bx bxs-dislike'></i> 23
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="list-flix">
			<h1>Danh sách videos</h1>
			<div class="list-video">
				<div class="row">
					<div class="item" ng-repeat="item in list">
						<img src="images/thumnail/{{item.poster}}" alt="">
						<div class="name">
							<p>{{item.title}}</p>
						</div>
						<div class="views">
							<p><i class='bx bx-show-alt'></i> {{item.views}} lượt xem</p>
						</div>
						<div class="status">
							<p class="like">
								<i class='bx bxs-like'></i> {{item.likes}}
							</p>
							<p class="dislike">
								<i class='bx bxs-dislike'></i> {{item.shares}}
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer>
		<div class="top">
			<ul>
				<li><a href="">FGHHV</a></li>
				<li><a href="">DFGH</a></li>
				<li><a href="">PC0123</a></li>
				<li><a href="">FPOLY</a></li>
				<li><a href="">CANTHO</a></li>
			</ul>
		</div>

		<div class="mid">
			<p>Rainbow Flix là một trang web phát trực tuyến Phim miễn phí không có quảng cáo. Chúng tôi cho phép bạn
				xem
				phim
				trực
				tuyến mà không cần phải đăng ký hoặc trả tiền, với hơn 10000 bộ phim và TV-Series. Bạn cũng có thể Tải
				xuống
				phim đầy đủ từ MoviesCloud và xem sau nếu muốn.</p>
		</div>

		<div class="bot">
			<i class='bx bx-copyright'></i> <span>FroggyDev@FPT Polytechnic</span>
		</div>

	</footer>

	<script>
		window.onscroll = function () { myFunction() };

		var header = document.getElementById("myHeader");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > sticky) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
	</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		function loadDetails(e) {
			id = e.querySelector("#videoId").innerText;

			$.ajax({
				url: 'http://localhost:3000/video/id=' + id,
				method: 'GET',
				success: function (response) {
					// alert(url)
					const { message, data } = response;
					//Này là thông báo với data nữa cần lưu data thì lây xài
					console.log(message, data);
					// xuất thhong báo
					alert(message);
					window.location.href = "#videoDetails/" + id;
					/*
						delay(2000).then(res => {
							// chuyển trang sau 2s
							window.location.href = "/pages/login.html";
						});
					*/
				},

				error: function (xhr, status, error) {
					// Xử lý lỗi
					console.error(error);
				}
			});
		}
	</script>

</div>