.success-wrapper {
    position: fixed;
     left: 50%;
    /*bottom: 0; */
    /* right: 0; */
    top: 0;
    transform: translate(-50%, -5rem);
    /* width: 50%; */
    min-width: 400px;
    max-width: 450px;
    background-color: #fff;
    color: #47d864;
    border-color: #47d864;
    height: 4rem;
    border-radius: 0 0 0.25rem 0.25rem ;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 1rem 3rem;
    transition: transform 1s ease-in-out;
    z-index: 9999999999;
  }
  
  .success-wrapper-active {
    transform: translate(-50%, 0);
  }
  
  .success-message {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    /* line-height: 1.26rem; */
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  
  .success-btn {
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  