<div class="top-container">
    <h1>Rainbow Flix</h1>
    <p>Chúng tôi yêu phim, như yêu vợ bạn!</p>
  </div>
  
  <div style="z-index: 999" class="header" id="myHeader">
    <section class="ftco-section">
      <nav
        class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
        id="ftco-navbar"
      >
        <div class="container">
          <a class="navbar-brand" style="width: 50px" href="../index.html"
            ><img
              style="width: 100%"
              src=""
              alt=""
              srcset=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fa fa-bars"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a routerLink="/home" class="nav-link">Trang chủ</a>
              </li>
              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">Page</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown04">
                                      <a class="dropdown-item" href="">Page 1</a>
                                      <a class="dropdown-item" href="">Page 2</a>
                                      <a class="dropdown-item" href="">Page 3</a>
                                      <a class="dropdown-item" href="">Page 4</a>
                                  </div>
                              </li>
              <li class="nav-item">
                <a href="list.html" class="nav-link">Phim hay</a>
              </li>
  
              <li class="nav-item">
                <a href="qna.html" class="nav-link">Hỏi đáp</a>
              </li>
              <li class="nav-item">
                <a href="contact.html" class="nav-link">Liên hệ</a>
              </li>
              <li class="nav-item">
                <a href="about.html" class="nav-link">Về chúng tối</a>
              </li>
            </ul>
  
            <ul class="navbar-nav">
              <li class="nav-item active dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  routerLink="/login"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  *ngIf="!isLogin()" 
                  >
                  Đăng nhập
                </a>
                <a
                  class="nav-link dropdown-toggle"
                  (click)="logout()"
                  routerLink="/home"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  *ngIf="isLogin()" 
                  >
                  <!-- {{userDisplayName}} -->
                  Đăng xuất
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <!-- <a class="dropdown-item" href="">Đăng nhập</a> -->
                  <a class="dropdown-item" href="register.html">Đăng ký</a>
                  <a class="dropdown-item" href="forgetpassword.html"
                    >Quên mật khẩu</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END nav -->
    </section>
  </div>
